.App {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #121212; /* optional dark background */
}

.app-logo {
  display: flex;
  align-items: center;
  gap: 8px;
}

.brand-text {
  font-size: 2rem;
  font-weight: bold;
  color: #f39c12;
}
